/*
    blue gray:    #607D8B    96,125,139
    https://jsfiddle.net/L4ogrcyc/
    either lock the search part, or make JUST the results scrollable
    put in some max-widths
*/

:root {
    --litegray: #F1F1F1;
    --darkgray: #616161;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: var(--litegray);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: 'cats' 'search' 'results';
}

.categories {
    grid-area: cats;
    display: flex;
    justify-content: space-between;
    margin: 1% auto;
    width: 60%;
}

.cat {
    border: 2px solid var(--darkgray);
    border-radius: 4px;
    flex-basis: 33%;
    padding: 1% 2%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.cat.sel {
    background-color: var(--darkgray);
    color: var(--litegray);
}

.cat.desel {
    background: none;
    color: var(--darkgray);
}

.cat.desel:hover {
    background-color: #00BFFF;
}

.search-form {
    grid-area: search;
    margin: 0 auto;
    width: 60%;
}

#search {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid var(--darkgray);
    margin: 1% auto;
    padding: 1%;
}

#search-bar {
    background: none;
    color: var(--darkgray);
    /*margin: 1% auto;*/
    border: none;
    flex-grow: 3;
    font-size: 2rem;
}

#submit {
    flex-basis: 15%;
    padding: 1rem;
    background-color: var(--darkgray);
    color: var(--litegray);
    font-size: 2rem;
    text-align: center;
    cursor: pointer;

}

.results {
    grid-area: results;
    margin: 0 auto;
}
