/*
    Add title attribute with javascript if name length exceeds 63/77 characters (2/1.5 rem font-size)
    Replace periods in torrent names in python
    search everything, everywhere
    for filtor, exclude results with any part of the query at the end of the torrent name
    when adding js onclick for .plus, make content x after clicked
    change all sizes to MB
    do sorting arrows in js
*/
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}
* {
    /*
        Distribute this correctly before finished
    */
    box-sizing: border-box;
}
:root {
    font-size: 16px;
    font-family: Ubuntu;
    --green: #26A65B;
    --gray: #ECF0F1;
    --dark: #35393A;
    --form-font: 1.5rem;
    --form-vpad: 0.5rem;
    --form-height: calc((var(--form-font) * 1.15625) + (2 * var(--form-vpad)) + 4px);
}
body {
    margin: 0;
    background-color: var(--gray);
}
header {
    margin: 0 1%;
    padding: 0;
}
.title {
    height: 20vmin;
    margin: 1rem auto;
}
#title-svg {
    width: 100%;
    height: 100%;
}
text {
    fill: var(--green);
}
.title1 {
    font-weight: bold;
    font-style: italic;
}
.titlehr {
    stroke-width: 2;
    stroke: var(--green);
}
.title2 {
    font-weight: light;
    font-style: italic;
}
form {
    margin: 2rem;
    display: flex;
    height: var(--form-height);
    border: 2px solid var(--dark);
}
input {
    background-color: var(--gray);
    border: none;
    color: var(--dark);
    font-size: var(--form-font);
    flex: 1 1 auto;
    max-width: calc(100% - var(--form-height));
    padding: var(--form-vpad) 0.75rem;
}
input:focus {
    outline: none;
}
.isearch {
    padding: 0.75rem;
    flex: 0 0 var(--form-height);
    background: none;
    border: none;
    transition: background-color 0.2s linear;
    cursor: pointer;
    /*outline: none;*/
}
.isearch:hover {
    background-color: var(--dark);
}
button > svg {
    height: 100%;
    width: 100%;
}
path {
    fill: var(--green);
}
main {
    margin: 0 1%;
    padding: 1rem 2rem;
}
.results {
    width: 100%;
}
.tor {
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 3rem;
    grid-template-rows: auto auto;
    grid-template-areas: "name name name"
                         "size seed down";
    grid-column-gap: 4rem;
    align-items: center;
    font-weight: bold;
    /*box-shadow: 0 6px 12px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    /*GOOGLE box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);*/
}
.tor:first-child {
    background-color: var(--dark);
    color: var(--gray);
    font-weight: bold;
    cursor: pointer;
}
.head.tdown {
    cursor: auto;
    text-align: center;
}
.body {
    background-color: var(--gray);
    color: var(--dark);
    transition: background-color 0.2s linear, color 0.2s linear;
}
.body:hover {
    background-color: var(--green);
    color: var(--gray);
}
.tname {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 1rem;
    border-bottom: 1px solid var(--dark);
    grid-area: name;
}
.tname.head {
    border-bottom: 1px solid var(--gray);
}
.tsize {
    grid-area: size;
    padding: 0.5rem;
}
.tseed {
    grid-area: seed;
    padding: 0.5rem;
}
.body > .tseed {
    color: var(--green);
}
.tdown {
    grid-area: down;
}
.body > .tdown {
    justify-self: center;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: var(--green);
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}
