/*
    svg fiddle: https://jsfiddle.net/uqmn4b1o/61/

    https://jsfiddle.net/erikmorgan/4hLtka79/35/
    https://jsfiddle.net/87o3y8r4/14/
    https://jsfiddle.net/anv9rhqx/12/ for text ratio
    Pytor @ 16px in Arial Black:
        width = 46.203125
        height = 23
    For a given font-size, the input height will be 2.5px taller

    column-width tests:
        https://jsfiddle.net/4jmosqty/19/
    using css grid:
        https://jsfiddle.net/4jmosqty/17/

*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

:root {
    --dark: #3F3F3F;
    --lite: #F0F1F5;
    --litedark: #3F3F3F33;
    --green: #44B74C;
    --blue: #3F51B5;
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--lite);
    font-family: Ubuntu;
}
header {
    margin: 0 5%;
    overflow: auto;
}
h1 {
    margin: 2rem auto;
    color: var(--green);
    font-size: 3.5rem;
    text-align: center;
}
.search-area {
    margin: 1rem;
}
#search-form {
    display: flex;
    align-items: center;
    border: 1px solid var(--dark);
    padding: 0 0.4rem;
}
svg {
    margin: 0 1rem;
    width: 2rem;
}
path {
    fill: var(--dark);
}
#search-bar {
    background: none;
    border: none;
    color: var(--dark);
    font-size: 2rem;
    flex: 1 1 auto;
    margin-right: 0.5rem;
}
.cat {
    flex: 0 0 auto;
    font-size: 1.5rem;
    color: var(--lite);
    background-color: var(--green);
    border: none;
    padding: 0.5rem;
    margin: 0.4rem;
    transition: background-color 0.2s linear, color 0.2s linear;
}
.cat:hover {
    background-color: var(--blue);
    color: var(--lite);
}
main {
    margin: 2rem calc(5% + 1rem);
}
.table {
    width: 100%;
    max-width: 100%;
    display: table;
}
.row {
    /*display: flex;*/
    display: table-row;
    color: var(--dark);
    font-size: 1.5rem;
    transition: background-color 0.2s linear, color 0.2s linear;
}
.row.header {
    background-color: var(--dark);
    color: var(--lite);
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    position: sticky;
    top: 1px;
    cursor: pointer;
}
.row:not(.header):hover {
    background-color: var(--green);
    color: var(--lite);
}
.cell {
    display: table-cell;
    padding: 0.8rem;
    border-bottom: 1px solid var(--dark);
}
.tname {
    overflow-wrap: break-word;
}
.tsize, .tseed {
    white-space: nowrap;
}
