<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Home Torrent Finder</title>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <section>
            <div id="categories">
                <button class="cat sel" onclick="pickCat(event, 'tv')" id="cat-tv">TV Show</button>
                <button class="cat desel" onclick="pickCat(event, 'movie')" id="cat-movie">Movie</button>
            </div>
            <form id="search" action="/search" method="POST">
                <input id="search-bar" type="text" name="query" placeholder="Title (Season ##/S##/S##E##)..." required/>
                <input id="submit" type="submit" value="Search" name="submit" />
            </form>
        </section>
        <section id="result">
            <h2>Search Results</h2>
            <div id="loading-placeholder">
            </div>
            <table id="table-placeholder">
            </table>
        </section>
    </body>
</html>
