/*
    svg fiddle: https://jsfiddle.net/uqmn4b1o/61/

    https://jsfiddle.net/erikmorgan/4hLtka79/35/
    https://jsfiddle.net/87o3y8r4/14/
    https://jsfiddle.net/anv9rhqx/12/ for text ratio
    Pytor @ 16px in Arial Black:
        width = 46.203125
        height = 23
    For a given font-size, the input height will be 2.5px taller

    for a floating look (box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15))

    column-width tests:
        https://jsfiddle.net/4jmosqty/19/
        size/seed/leech 6.8/5/6.5rem;
    using css grid:
        https://jsfiddle.net/4jmosqty/17/

*/
@import url("https://fonts.googleapis.com/css?family=Abel");

:root {
    --dark: #3F3F3F;
    --lite: #F0F1F5;
    --green: #44B74C;
    --blue: #3F51B5;
    font-size: 16px;
}
* {
    box-sizing: border-box;
    font-family: Abel;
}
body {
    margin: 0;
    background-color: var(--lite);
}
header {
    background-color: var(--dark);
    margin: 0 3%;
    border-radius: 0 0 1.5rem 1.5rem;
    overflow: auto;
}
h1 {
    margin: 0;
    color: var(--green);
    font-family: Arial Black;
    font-size: 3rem;
    text-align: center;
}
.search-area {
    margin: 1rem;
}
#search-form {
    display: flex;
    align-items: center;
    border: 2px solid var(--green);
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: var(--lite);
}
#search-bar {
    padding: 0;
    margin: 0 0.3rem;
    background: none;
    border: none;
    color: var(--dark);
    font-size: 2rem;
    flex: 1 1 auto;
}
.ibutton {
    padding: 0;
    margin: 0 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
}
#submit {
    flex: 0 0 2rem;
}
.cat {
    /*
    opacity: 0.6;
    transition: all .2s ease-in-out;
    */
    flex: 0 0 4.5rem;
}
.cat:hover {
    opacity: 1;
}
.active path {
    stroke: var(--green);
}
path, circle {
    fill: none;
    stroke: var(--dark);
}
.thick {
    stroke-width: 8;
}
.thin {
    stroke-width: 4;
}
.round {
    stroke-linecap: round;
    stroke-linejoin: round;
}
main {
    margin: 5rem 3%;
}
table {
    /*
    remove table-layout and all .col's and control with mq if this strategy fails rwd tests
    */
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0.2rem solid var(--dark);
    color: var(--dark);
    font-size: 1.4rem;
    border-radius: 1rem;
}
thead {
    /*
    background-color: var(--green);
    color: var(--dark);
    */
    font-size: 2rem;
    cursor: pointer;
}
thead tr {
    background-color: var(--dark);
    color: var(--lite);
}
.tsize {
    width: 9rem;
}
.tseeds {
    width: 7rem;
}
.tpeers {
    width: 7rem;
}
td, th {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 0.1rem solid var(--dark);
}
